@import "tailwindcss";
*{
  margin: 0%;
  padding: 0%;
}
/* loading */
.load span{
  display: inline-block;
  animation: loading 1s infinite ease-in-out;
}
.load span:nth-child(1){animation-delay: 0s;}
.load span:nth-child(2){animation-delay: 0.1s;}
.load span:nth-child(3){animation-delay: 0.2s;}
.load span:nth-child(4){animation-delay: 0.3s;}
.load span:nth-child(5){animation-delay: 0.4s;}
.load span:nth-child(6){animation-delay: 0.5s;}
.load span:nth-child(7){animation-delay: 0.6s;}
@keyframes loading {
  0% , 100% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-40px);
  }
}
.loading{
  background: linear-gradient();
  animation: load 3s linear;
}
@keyframes load {
  0%{
    opacity: 0;
    transform: translateY(-40px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Sign In */
@media screen and (min-width: 550px){
  .signin{
    background-image: url('../public/assets/EG-en-20250224-TRIFECTA-perspective_928c688e-939a-402e-a8cf-a219844b9522_large.jpg');
  }
}